<!DOCTYPE html>
<html>
<head>
<title>Welcome</title>
</head>
<body>
    <h1>About Page</h1>
<ul>
    <li><%= link_to 'welcome', root_path %></li>
    <li>List 2</li>
    <li>List 3</li>
    <li>List 4</li>
</ul>
</body>
</html>