<!DOCTYPE html>
<html>
<head>
<title>Welcome</title>
</head>
<body>
    <h1>Home Page</h1>
<ul>
    <li><%= link_to 'about', about_path %></li>
    <li><%= link_to 'Articles', articles_path %></li>
    <li>List 3</li>
    <li>List 4</li>
</ul>
</body>
</html>